{% extends "base.html" %}

{% block title %}
Sign Up
{% endblock %}


{% block content %}

<form
    action=""
    method="post">

    <h3 align="center">
        Sign Up
    </h3>

    <div class="form-group" style='text-align:center'>
        <label for="email">Email address</label>
        <input
            type="email"
            class="form-control w-25 mx-auto"
            id="email"
            name="email"
            placeholder="Enter email"
        >

        <label for="username">Username</label>
        <input
            type="text"
            class="form-control w-25 mx-auto"
            id="username"
            name="username"
            placeholder="Enter Username"
        >

        <label for="password">Password</label>
        <input
            type="password"
            class="form-control w-25 mx-auto"
            id="password"
            name="password"
            placeholder="Password"
        >

        <label for="password1">Confirm Password</label>
        <input
            type="password"
            class="form-control w-25 mx-auto"
            id="password1"
            name="password1"
            placeholder="Confirm Password"
        >
        <br>
        <div align="center">
            <button
                type="submit"
                class="btn btn-primary"
            >
                Sign Up
            </button>
        </div>
    </div>
</form>

{% endblock %}